<!--#include virtual="/server/html5-header.html" -->

<!-- Parent-Version: 1.84 -->
<title>GNU Astronomy Utilities - Gnuastro -
  - GNU Project - Free Software Foundation</title>

<style type="text/css"><!--
.reduced-width { width: 50em; }
.summary {
  font-size: 1em;
  box-sizing: border-box;
  border: 1px solid #bbb;
  margin-top: 1.3em;
}
.summary, .pict { width: 15.8em; max-width: 100%; }
@media (min-width:45em) { .left-column { margin-right: 17.5em; }}
--></style>
<!--#include virtual="gnuastro.translist" -->
<!--#include virtual="/server/banner.html" -->
<div class="reduced-width">
<h2>GNU Astronomy Utilities</h2>
<div class="thin"></div>

<p>The GNU Astronomy Utilities (Gnuastro) is an official GNU package
consisting of various programs and library functions for the manipulation
and analysis of astronomical data. All the programs share the same basic
command-line user interface for the comfort of both the users and
developers. Gnuastro is written to comply fully with
the <a href="/prep/standards/">GNU coding standards</a>
so it integrates finely with the GNU/Linux operating system. This also
enables astronomers to expect a fully familiar experience in the source
code, building, installing and command-line user interaction that they have
seen in all the other GNU software that they use.</p>

<p>In case you are new to Gnuastro, you might find these links useful:</p>

<ul>

  <li><a href="manual/html_node/Quick-start.html">Quick start</a>: To
    install Gnuastro.</li>

  <li><a href="manual/html_node/Gnuastro-programs-list.html">List of
Gnuastro programs</a>: For a complete list of the programs. </li>

  <li><a href="manual/html_node/Tutorials.html#Tutorials">Tutorials</a>:
for entertaining and easy to read real world examples of using
    Gnuastro.</li>

</ul>


<div id="table-of-contents" class="summary rounded-corners">
<hr class="no-display" />
<h3 class="no-display">Contents</h3>
<ul>
  <li><a href="#download">Download</a></li>
  <li><a href="#installation">Installation</a></li>
  <li><a href="#documentation">Documentation</a></li>
  <li><a href="#mail">Mailing lists</a></li>
  <li><a href="#bug">Report a Bug</a></li>
  <li><a href="#contribute">Getting involved</a></li>
  <li><a href="#cite">How to cite</a></li>
  <li><a href="#recentcite">Recent citations</a></li>
  <li><a href="#license">Licensing</a></li>
</ul>
<hr class="no-display" />
</div>


<div class="left-column">
<h3 id="download">Download</h3>

<p>
  The current stable release
  is <strong><a href="https://ftp.gnu.org/gnu/gnuastro/gnuastro-0.15.tar.gz">Gnuastro
  0.15</a></strong> (May 30th, 2021).
  Use <a href="https://ftpmirror.gnu.org/gnuastro/gnuastro-0.15.tar.gz">a
  mirror</a> if possible.

  <!-- Comment the test release notice when the test release is not more
       recent than the stable release -->

  <br /><em>New releases are announced
  in <a href="https://lists.gnu.org/mailman/listinfo/info-gnuastro">info-gnuastro</a>.
  To stay up to date, please subscribe.</em></p>

<p>For details of the significant changes in this release, please see the
  <a href="https://git.savannah.gnu.org/cgit/gnuastro.git/plain/NEWS?id=gnuastro_v0.15">NEWS</a>
  file.</p>

<p>The
  canonical <a href="https://ftp.gnu.org/gnu/gnuastro/gnuastro-latest.tar.gz">https://ftp.gnu.org/gnu/gnuastro/gnuastro-latest.tar.gz</a>
  will always contain the most recent Gnuastro release. Use the mirror link
  (<a href="https://ftpmirror.gnu.org/gnuastro/gnuastro-latest.tar.gz">https://ftpmirror.gnu.org/gnuastro/gnuastro-latest.tar.gz</a>)
  if possible.</p>

<p>Previous versions and PGP signatures are always available
  at <a href="https://ftp.gnu.org/gnu/gnuastro">https://ftp.gnu.org/gnu/gnuastro</a>. Use <a href="https://ftpmirror.gnu.org/gnuastro">a
  mirror</a> if possible. </p>
</div>




<div class="pict narrow">
<a href="https://repology.org/metapackage/gnuastro/versions" target="_blank">
    <img src="https://repology.org/badge/vertical-allrepos/gnuastro.svg?header=Gnuastro packaging status" alt="Packaging status" />
</a>
</div>




<h3 id="installation">Installation</h3>

<p>See <a href="manual/html_node/Quick-start.html">Quick start</a> for a fast
review of the Gnuastro's building and installation commands.</p>

<p>Gnuastro only has three mandatory
dependencies: <a href="manual/html_node/GNU-Scientific-Library.html">GNU
Scientific
Library</a>, <a href="manual/html_node/CFITSIO.html">CFITSIO</a>, <a href="manual/html_node/WCSLIB.html">WCSLIB</a>.<br />See <a href="manual/html_node/Dependencies-from-package-managers.html">Dependencies
from package managers</a> for easy installation of Gnuastro's dependencies
using tools like <code>apt-get</code>, <code>dnf</code>
(or <code>yum</code>), <code>pacman</code>, <code>zypper</code>
or <code>brew</code>.</p>

<p>For a more detailed description, see
the <a href="manual/html_node/Installation.html">Installation</a> chapter
of the <a href="manual/">Gnuastro book</a>. It thoroughly discusses
the <a href="manual/html_node/Dependencies.html">dependencies</a>,
<a href="manual/html_node/Downloading-the-source.html">downloading
methods</a>, and
the <a href="manual/html_node/Build-and-install.html">building and
installation</a> of Gnuastro.</p>




<h3 id="documentation">Gnuastro book (documentation)</h3>

<p>The <a href="manual/">Gnuastro book</a> (official Gnuastro documentation
or manual) is available online in various formats, as
is <a href="/manual/manual.html">documentation for
most GNU software</a>. After installation, you can access the complete
book, or the sections related to individual programs and library headers on
the command-line (in <a
href="/software/texinfo/manual/texinfo/html_node/Info-Files.html#Info-Files">Info</a>
format). See <a href="manual/html_node/Getting-help.html">Getting help</a>
for more. As a summary, here are the ways you can immediately navigate
to any major part of the book on the command-line:</p>

<ul>
  <li><kbd>info&nbsp;gnuastro</kbd>: To view the complete Gnuastro book from
  the beginning.</li>
  <li><kbd>info&nbsp;<var>ProgramName</var></kbd>: To view the complete section about a
    specific program. For example <kbd>info&nbsp;NoiseChisel</kbd>
    or <kbd>info&nbsp;Crop</kbd>.</li>
  <li><kbd>info&nbsp;<var>astprogname</var></kbd>: To only view the "Invoking
  <var>ProgramName</var>" sub-section of the manual. Each program has this
  subsection which explains the input(s), output(s) and command-line
  options for that particular program. For example
  <kbd>info&nbsp;astnoisechisel</kbd> or <kbd>info&nbsp;astcrop</kbd>.</li>
  <li><kbd><var>astprogname</var>&nbsp;--help</kbd>: A description and full list of
  options (classified by context) for this program will be printed. For
  example <kbd>astnoisechisel&nbsp;--help</kbd> or
  <kbd>astcrop&nbsp;  --help</kbd>.</li>
  <li><kbd>man&nbsp;<var>astprogname</var></kbd>: A man page listing the options and
  arguments of this program. For example <kbd>man&nbsp;astnoisechisel</kbd>,
  or <kbd>man&nbsp;astcrop</kbd>.</li>
</ul>





<h3 id="mail">Mailing lists</h3>

<p>Gnuastro has the following mailing lists:</p>

<ul>

  <li><a href="https://lists.gnu.org/mailman/listinfo/info-gnuastro">info-gnuastro</a>:
  All official Gnuastro announcements will be circulated through this
  mailing list.</li>

  <li><a href="https://lists.gnu.org/mailman/listinfo/help-gnuastro">help-gnuastro</a>:
  Get in touch with experienced Gnuastro users and developers on
  problems and advice in using Gnuastro (it will help if you have had
  a look at <a href="manual/">the documentation</a> first).</li>

  <li><a href="https://lists.gnu.org/mailman/listinfo/bug-gnuastro">bug-gnuastro</a>:
  Report a bug, or suggest a new feature
  (see <a href="manual/html_node/Report-a-bug.html">Report a bug</a>
  and <a href="manual/html_node/Suggest-new-feature.html">Suggest new
  feature</a> in the documentation). </li>

  <li><a href="https://lists.gnu.org/mailman/listinfo/gnuastro-devel">gnuastro-devel</a>:
Circulating development discussions (mainly interesting for Gnuastro
developers).</li>

  <li><a href="https://lists.gnu.org/mailman/listinfo/gnuastro-commits">gnuastro-commits</a>:
Circulate commits made to Gnuastro's version controlled history in the
official repository.</li>
</ul>

<p>Security reports that should not be made immediately public can be
sent directly to the maintainer.  If there is no response to an urgent
issue, you can escalate to the general
<a href="https://lists.gnu.org/mailman/listinfo/security">security</a>
mailing list for advice.</p>





<h3 id="bug">Report a bug</h3>
<p>The <a href="manual/html_node/Report-a-bug.html">Report a bug</a>
  section of the manual thoroughly explains the process to report a bug,
  please read that section. As a summary, first have a look at
  the <a href="https://savannah.gnu.org/bugs/?group=gnuastro"
  target="_blank">Gnuastro bug archive</a>. Click on the "<i>Display
  criteria</i>" (above the list), choose "Any" in the "<i>Open/Closed</i>"
  drop-down menu, and under "<i>Category</i>" choose the part of Gnuastro
  that corresponds to your bug. By clicking on the "Apply" button, only the
  relevant bugs will be listed. Green items have been solved and closed,
  while red items are still open. If your bug isn't listed, please take one
  of the following steps. Please try to be as descriptive as possible and
  include the Gnuastro version you are using along with the commands or
  code that created the bug so we can reproduce and thus fix it faster.</p>

<ul>
  <li><a href="https://savannah.gnu.org/support/?func=additem&amp;group=gnuastro"
  target="_blank">Submit your bug</a> through the main project management
  webpage. This is the recommended way to inform us of your bug. Please
  also fill out the meta-data (category, item group and etc) as much as
  possible.</li>
  <li>Send a mail to
  &lt;<a href="mailto:bug-gnuastro=at=gnu.org">bug-gnuastro::at::gnu.org</a>&gt;
  which is one of Gnuastro's <a href="#mail">mailing lists</a>. This will
  be slower than the first. Because of the large number of spam messages,
  this mailing list is moderated and other developers will only see it
  after it has been approved. So to immediately let all the developers
  know, please use the first option.</li>
</ul>





<h3 id="contribute">Getting involved</h3>

<p>The most important principle behind Gnuastro is to be easy for anyone to
  hack into it (add a new feature, change an existing one, fix a problem
  and most importantly to understand what is going on under the hood),
  please see <a href="manual/html_node/Science-and-its-tools.html">Science
  and its tools</a>. So you are most welcome and highly encouraged to
  contribute. There is even a full chapter dedicated
  to <a href="manual/html_node/Developing.html">Developing</a> to make it
  as easy as possible for you to get involved. Also
  see <a href="/help/help.html">How to help GNU</a> for joining
  the full GNU project.</p>

<dl>

<!--
<dt>Google Summer of Code 2020</dt>
<dd>Gnuastro has some <a href="/software/soc-projects/ideas-2020.html#gnuastro">suggested projects</a> for Google Summer of Code (GSoC) 2020.
  Generally, if you are interested in any of the Gnuastro <a href="https://savannah.gnu.org/task/?group=gnuastro">open tasks</a> for the GSoC please get in touch.
  We are also open to any new suggestion to contribute to Gnuastro through GSoC 2020.</dd>
-->

<dt>Test releases</dt>

<dd>Trying the latest test release (when available) is always appreciated.
Official alpha-releases of Gnuastro can be found on the GNU server via
<a href="https://alpha.gnu.org/gnu/gnuastro/">HTTPS</a>,&nbsp;
<a href="http://alpha.gnu.org/gnu/gnuastro/">HTTP</a> or
<a href="ftp://alpha.gnu.org/gnu/gnuastro/">FTP</a>.
Only one or two of these will be available between the offical releases, but they are also archived in the URLs above.
<br />
Alternatively, the tarball corresponding to the <a href="https://git.savannah.gnu.org/cgit/gnuastro.git/log">most recent commit</a> is also available at <a href="https://akhlaghi.org/gnuastro-latest.tar.lz">https://akhlaghi.org/gnuastro-latest.tar.lz</a>, along with its <a href="https://akhlaghi.org/gnuastro.pdf">PDF manual</a>.
For the changes compared to the last major release, see the <a href="https://git.savannah.gnu.org/cgit/gnuastro.git/tree/NEWS">NEWS</a> file (also available in the tarball).
Just note that the contents of this tarball constantly change with every commit in the Gnuastro history.
So the tarball can be reproduced by <a href="manual/html_node/Bootstrapping.html">bootstrapping</a> that commit, but it will not be archived for future direct downloads.
</dd>


<dt>Development</dt>

<dd>Gnuastro is still under active development. So if you are interested,
please have a look at
the <a href="manual/html_node/Developing.html">Developing</a> chapter of
the documentation and start hacking into Gnuastro or even write your own
program within it (Gnuastro has a template to help you). For development
sources, <a href="https://savannah.gnu.org/bugs/?group=gnuastro">bug
trackers</a>, <a href="https://savannah.gnu.org/task/?group=gnuastro">task
trackers</a> (planned features to be added), and other information, please
see the
<a href="https://savannah.gnu.org/projects/gnuastro/">Gnuastro project
page</a> at <a href="https://savannah.gnu.org">savannah.gnu.org</a>. The
trackers can be a good starting point if you want to get involved in the
coding. To stay up to date with Gnuastro's development activities, please
subscribe to
the <a href="https://lists.gnu.org/mailman/listinfo/gnuastro-devel">gnuastro-devel</a>,
and/or
the <a href="https://lists.gnu.org/mailman/listinfo/gnuastro-commits">gnuastro-commits</a>
mailing lists.</dd>

<dd>Gnuastro is version controlled using
  Git. The <a href="manual/html_node/Version-controlled-source.html">version
  controlled source</a> can
  be <a href="https://git.savannah.gnu.org/cgit/gnuastro.git/tree/">inspected
  online</a>, or you
  can <a href="https://git.savannah.gnu.org/cgit/gnuastro.git/log/">see the
  latest history</a>. To keep a local copy, please clone it onto your
  system with any one of the following commands (if it works, the first one
  is recommended).
  <pre class="emph-box">git clone git://git.sv.gnu.org/gnuastro
git clone https://git.sv.gnu.org/r/gnuastro.git</pre>
</dd>

<dd>To configure and build the version controlled source, you will need to
  <a href="manual/html_node/Bootstrapping.html">bootstrap</a> it (also
  see <a href="manual/html_node/Bootstrapping-dependencies.html">bootstrapping
  dependencies</a>). See
  the <a href="manual/html_node/Forking-tutorial.html">forking tutorial</a>
  for a demonstration of the Gnuastro project workflow.</dd>

<dt>Maintainer</dt>

<dd>Gnuastro was created and is currently maintained by
  <a href="https://akhlaghi.org">Mohammad Akhlaghi</a>
&lt;<a href="mailto:mohammad=at=akhlaghi.org">mohammad::at::akhlaghi.org</a>&gt;.
Please use the mailing lists for contact. </dd>
</dl>





<h3 id="cite">How to cite</h3>

<p>Citations are vital for the continued work on Gnuastro. All the programs
  accept the common <code>--cite</code> option which will guide you on how
  to properly cite and acknowledge the work that has gone into creating and
  maintaining that particular program and Gnuastro in general. If any of
  the programs or libraries offered in Gnuastro are useful in your
  research, please use the output of this option to cite the program and
  Gnuastro in your research paper. Note that different programs may require
  citation of different papers specifically devoted to them.</p>

<p>Gnuastro is still new, thus there is no paper fully devoted to
  introducing it and its capabilities yet. Until then, the paper to cite
  for Gnuastro in general is the paper which introduced NoiseChisel
  (<a href="https://adsabs.harvard.edu/abs/2015ApJS..220....1A">ApJS 220,
  1</a>). It was the first published paper using Gnuastro. Upon reaching a
  certain point, a paper completely devoted to Gnuastro will be published,
  see <a href="manual/html_node/GNU-Astronomy-Utilities-1_002e0.html">GNU
  Astronomy Utilities 1.0</a>.</p>

<p>Gnuastro is also registered on the Astrophysics Source Code Library
  (<a href="https://ascl.net">ASCL</a>)
  with <a href="https://ascl.net/1801.009">ascl.net/1801.009</a>. Please use
  this identifier somewhere in the body of your paper (for example in the
  acknowledgments or first mention of Gnuastro). For the
  bibliography/references list at the end of the paper, please only use the
  papers listed in the output of <code>--cite</code>.</p>





<h3 id="recentcite">Recent citations of Gnuastro</h3>
<p>Below you can see a list of the 20 recent papers that have cited Gnuastro (any of its programs or libraries) as of September 7th, 2020. For the full, and up-to-date, list please see the respective <a href="https://scholar.google.com/scholar?hl=en&amp;as_sdt=0,5&amp;sciodt=0,5&amp;cites=4207494987138368989&amp;scipsc=&amp;q=&amp;scisbd=1">Google Scholar</a> or <a href="https://ui.adsabs.harvard.edu/search/q=citations(bibcode%3A2015ApJS..220....1A)&amp;sort=date%20desc%2C%20bibcode%20desc&amp;p_=0">ADS</a> pages.</p>

<ol>
  <li><small>Bilek, M. Duc, P.A., et al. (<b>2020</b>) <i>Census and classification of low-surface-brightness structures in nearby early-type galaxies from the MATLAS survey</i>. Monthly Notices of the Royal Astronomical Society (MNRAS), August 2020. DOI:<a href="https://doi.org/10.1093/mnras/staa2248">10.1093/mnras/staa2248</a>. arXiv:<a href="https://arxiv.org/abs/2007.13772">2007.13772</a>.</small></li>

  <li><small>Sachdeva, S., Ho, L.C., et al. (<b>2020</b>) <i>Correlation of Structure and Stellar Properties of Galaxies in Stripe 82</i>. Astrophysical Journal. DOI:<a href="https://doi.org/10.3847/1538-4357/aba82d">10.3847/1538-4357/aba82d</a>. arXiv:<a href="https://arxiv.org/abs/2007.08328">2007.08328</a>.</small></li>

  <li><small>Rampazzo, R., Omizzolo, A., et al. (<b>2020</b>) <i>Morphology and surface photometry of a sample of isolated early-type galaxies from deep imaging</i>. Astronomy &amp; Astrophysics 640, 38. DOI:<a href="https://doi.org/10.1051/0004-6361/202038156">10.1051/0004-6361/202038156</a>. arXiv:<a href="https://arxiv.org/abs/2006.05323">2006.05323</a>.</small></li>

  <li><small> Popescu, M., de León, J., et al. (<b>2020</b>) <i>Physical characterization of 2020 AV2, the first known asteroid orbiting inside Venus orbit </i>. Monthly Notices of the Royal Astronomical Society (MNRAS), 496, 3, 3572. DOI:<a href="https://doi.org/10.1093/mnras/staa1728">10.1093/mnras/staa1728</a>. arXiv:<a href="https://arxiv.org/abs/2006.08304">2006.08304</a>.</small></li>

  <li><small>Brough, S., Collins, C., et al. (<b>2020</b>) <i>The Vera Rubin Observatory Legacy Survey of Space and Time and the Low Surface Brightness Universe</i>. IAU Symposium 355 (in press). arXiv:<a href="https://arxiv.org/abs/2001.11067">2001.11067</a>.</small></li>

  <li><small>Duc, P.A (<b>2020</b>) <i>MATLAS: a deep exploration of the surroundings of massive early-type galaxies</i>. IAU Symposium 355 (in press). hal-<a href="https://hal.archives-ouvertes.fr/hal-02382682">02382682</a>.</small></li>

  <li><small>Kaviraj, S. (<b>2020</b>) <i>The low-surface-brightness Universe: a new frontier in the study of galaxy evolution</i>. IAU Symposium 355 (in press). arXiv:<a href="https://arxiv.org/abs/2001.01728">2001.01728</a>.</small></li>

  <li><small>Akhlaghi M., (<b>2020</b>) <i>Carving out the low surface brightness universe with NoiseChisel</i>. IAU Symposium 355 (in press). arXiv:<a href="https://arxiv.org/abs/1909.11230">1909.11230</a>.</small></li>

  <li><small>Infante-Sainz, R., Trujillo, I., Román, J., (<b>2020</b>) <i>The Sloan Digital Sky Survey extended Point Spread Functions</i>. Monthly Notices of the Royal Astronomical Society (MNRAS), 491, 4, 5317. DOI:<a href="https://doi.org/10.1093/mnras/stz3111">10.1093/mnras/stz3111</a>. arXiv:<a href="https://arxiv.org/abs/1911.01430">1911.01430</a>.</small></li>

  <li><small>Habas, R., Marleau, F.R., et al. (<b>2019</b>) <i>Newly discovered dwarf galaxies in the MATLAS low density fields</i>. Monthly Notices of the Royal Astronomical Society (MNRAS), 491, 2, 1901. DOI:<a href="https://doi.org/10.1093/mnras/stz3045">10.1093/mnras/stz3045</a>. arXiv:<a href="https://arxiv.org/abs/1910.13462">1910.13462</a>.</small></li>

  <li><small>Jones, M.G., Verdes-Montenegro, L., et al. (<b>2019</b>) <i>Evolution of compact groups from intermediate to final stages. A case study of the H I content of HCG 16</i>. Astronomy &amp; Astrophysics 632, 78. DOI:<a href="https://doi.org/10.1051/0004-6361/201936349">10.1051/0004-6361/201936349</a>. arXiv:<a href="https://arxiv.org/abs/1910.03420">1910.03420</a>.</small></li>

  <li><small>Calvi, R., Rodríguez Espinosa, J.M., et al. (<b>2019</b>) <i>MOS spectroscopy of protocluster candidate galaxies at z = 6.5</i>. Monthly Notices of the Royal Astronomical Society 489, 329. DOI:<a href="https://doi.org/10.1093/mnras/stz2177">10.1093/mnras/stz2177</a>, arXiv:<a href="https://arxiv.org/abs/1908.01827">1908.01827</a>.</small></li>

  <li><small>Boogaard, L.A., Decarli, R., et al. (<b>2019</b>) <i>The ALMA Spectroscopic Survey in the HUDF: Nature and Physical Properties of Gas-mass Selected Galaxies Using MUSE Spectroscopy</i>. The Astrophysical Journal 882, 140B. DOI:<a href="https://doi.org/10.3847/1538-4357/ab3102">10.3847/1538-4357/ab3102</a>, arXiv:<a href="https://arxiv.org/abs/1903.09167">1903.09167</a>.</small></li>

  <li><small>Sachdeva, S., Gogoi, R., et al. (<b>2019</b>) <i>Formation of disc galaxies around z~2 </i>. Monthly Notices of the Royal Astronomical Society 487, 1795. DOI:<a href="https://doi.org/10.1093/mnras/stz1417">10.1093/mnras/stz1417</a>, arXiv:<a href="https://arxiv.org/abs/1905.08432">1905.08432</a>.</small></li>

  <li><small>de La Vieuville, G., Bina, D., et al. (<b>2019</b>) <i>Faint end of the z~3-7 luminosity function of Lyman-alpha emitters behind lensing clusters observed with MUSE</i>. Astronomy &amp; Astrophysics, 628, A3. DOI:<a href="https://doi.org/10.1051/0004-6361/201834471">10.1051/0004-6361/201834471</a>, arXiv:<a href="https://arxiv.org/abs/1905.13696">1905.13696</a>.</small></li>

  <li><small>Román, J., Trujillo, I., Montes, M. (<b>2019</b>) <i>Galactic cirri in deep optical imaging</i>. Astronomy &amp; Astrophysics (Submitted). arXiv:<a href="https://arxiv.org/abs/1907.00978">1907.00978</a>.</small></li>

  <li><small>Trujillo, I., Beasley, M.A.,  et al. (<b>2019</b>) <i>A distance of 13 Mpc resolves the claimed anomalies of the galaxy lacking dark matter</i>. Monthly Notices of the Royal Astronomical Society, 486, 1192. DOI:<a href="https://doi.org/10.1093/mnras/stz771">10.1093/mnras/stz771</a>, arXiv:<a href="https://arxiv.org/abs/1806.10141">1806.10141</a>.</small></li>

  <li><small>Hsieh, H.H.; Bannister, M.T., et al. (<b>2019</b>) <i>Maximizing LSST Solar System Science: Approaches, Software Tools, and Infrastructure Needs</i>. White paper. arXiv:<a href="https://arxiv.org/abs/1906.11346">1906.11346</a>.</small></li>

  <li><small>Martin, G., Kaviraj, S.,  et al. (<b>2019</b>) <i>The formation and evolution of low-surface-brightness galaxies</i>. Monthly Notices of the Royal Astronomical Society, 485, 796. DOI:<a href="https://doi.org/10.1093/mnras/stz356">10.1093/mnras/stz356</a>, arXiv:<a href="https://arxiv.org/abs/1902.04580">1902.04580</a>.</small></li>

  <li><small>Chandler, C.O., Kueny, J., et al. (<b>2019</b>) <i>Six Years of Sustained Activity in (6478) Gault</i>. The Astrophysical Journal Letters 877, L12. DOI:<a href="https://doi.org/10.3847/2041-8213/ab1aaa">10.3847/2041-8213/ab1aaa</a>, arXiv:<a href="https://arxiv.org/abs/1904.10530">1904.10530</a>.</small></li>
</ol>





<h3 id="license">Licensing</h3>

<p>GNU Astronomy Utilities (Gnuastro) is free software; you can
redistribute it and/or modify it under the terms of
the <a href="/licenses/gpl.html" rel="license">GNU
General Public License</a> as published by the Free Software
Foundation; either version&nbsp;3 of the License, or (at your option)
any later version.</p>

</div>
</div><!-- for id="content", starts in the include above -->
<!--#include virtual="/server/footer.html" -->
<div id="footer">
<div class="unprintable">

<p>Please send general FSF &amp; GNU inquiries to
&lt;<a href="mailto:gnu@gnu.org">gnu@gnu.org</a>&gt;.
There are also <a href="/contact/">other ways to contact</a> the FSF.
Broken links and other corrections or suggestions can be sent to &lt;<a
href="mailto:bug-gnuastro=at=gnu.org">bug-gnuastro::at::gnu.org</a>&gt;.</p>

<p>Please see the <a
href="/server/standards/README.translations.html">Translations
README</a> for information on coordinating and contributing translations
of this article.</p>
</div>

<!-- Regarding copyright, in general, standalone pages (as opposed to
     files generated as part of manuals) on the GNU web server should
     be under CC BY-ND 4.0.  Please do NOT change or remove this
     without talking with the webmasters or licensing team first.
     Please make sure the copyright date is consistent with the
     document.  For web pages, it is ok to list just the latest year the
     document was modified, or published.

     If you wish to list earlier years, that is ok too.
     Either "2001, 2002, 2003" or "2001-2003" are ok for specifying
     years, as long as each year in the range is in fact a copyrightable
     year, i.e., a year in which the document was published (including
     being publicly visible on the web or in a revision control system).

     There is more detail about copyright years in the GNU Maintainers
     Information document, www.gnu.org/prep/maintain. -->

<p>Copyright &copy; 2015-2016 Free Software Foundation, Inc.</p>

<p>This page is licensed under a <a rel="license"
href="http://creativecommons.org/licenses/by-nd/4.0/">Creative
Commons Attribution-NoDerivs 4.0 International License</a>.</p>

<!--#include virtual="/server/bottom-notes.html" -->

<p class="unprintable">Updated:
<!-- timestamp start -->
$Date: 2019/01/22 19:14:35 $
<!-- timestamp end -->
</p>
</div>
</div>
</body>
</html>
